html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
